html,
body {
  height: 100%;
}

.wrapper {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  position: relative;
  height: 100%;
  transition: all 2s ease;
}

.shot-container {
  width: 100%;
}

.random-btn-container {
  background-color: #fafafa;
  border-radius: 50%;
  bottom: 50px;
  cursor: pointer;
  height: 50px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 50px;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.shot-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 30px;
  line-height: 1;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 18vh;

  @include susy-breakpoint($tablet) {
    font-size: 48px;
  }
}

.ingredients {
  font-size: 20px;
  line-height: 1;
  padding: 0 30px;
  position: absolute;
  top: 38vh;

  span {
    display: block;
    line-height: 1.2;
    margin-bottom: 12px;
  }

  @include susy-breakpoint($tablet) {
    font-size: 24px;
    left: 0;
    margin: auto;
    right: 0;
    width: 500px;
  }
}
